@font-face {
    font-family: 'NorseBold';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
         url('fonts/Norse-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    padding-left: 24px;
    padding-right: 24px;
}

.left {
    background-image: 
       url("./images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    /* width: 30vw;  */
    height: 100vh; 
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 350px;
    height: 100px;
    background-color: black;
    opacity: 0.5;
    font-family: "NorseBold", sans-serif;
    color: white;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 50px;
    margin-top: -10px;
  }
  
  .odin-image {
    opacity: 1;
    position: left 40px;
  }

.right {
    background-color: gainsboro;
    height: 100vh; 
    width: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: inline-block;
    padding: 1em;
    border: 1px solid #ccc;
    margin: 0 -1em;
    background-color: white;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
/* Uniform size & alignment */
display: inline-block;
min-width: 90px;
text-align: right;
}

input,
textarea {
/* To make sure that all text fields have the same font settings
    By default, textareas have a monospace font */
font: 1em sans-serif;
/* Uniform text field size */
width: 300px;
box-sizing: border-box;
/* Match form field borders */
border: 1px solid #999;
}

input:focus,
textarea:focus {
/* Additional highlight for focused elements */
border-color: #000;
}

textarea {
/* Align multiline text fields with their labels */
vertical-align: top;
/* Provide space to type some text */
height: 5em;
}

.button {
/* Align buttons with the text fields */
padding-left: 90px; /* same size as the label elements */
}

button {
/* This extra margin represent roughly the same space as the space
    between the labels and their text fields */
margin-left: 0.5em;
}